@font-face {
  font-family: "Gunplay RG";
  src: url("../assets/font/gunplay rg.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --first-color: #ff4654;
  --second-color: #111723;
  --third-color: #793f3f7d;
}

html {
  height: 100%;
}

body {
  display: flex;
  font-family: "Gunplay RG";
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img/fundo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}

a {
  all: unset;
  cursor: pointer;
  user-select: none;
}

.menu {
  color: #ffffff;
  width: 16%;
  background-color: var(--third-color);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
}

.menu .line-1 {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu .line-1 img {
  height: 6vh;
  user-select: none;
  pointer-events: none;
}

.menu .line-2 {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-link {
  all: unset;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  padding: 44px 0;
  letter-spacing: 1px;
  transition: 0.4s;
  cursor: pointer;
  position: relative;
}

.nav-link:hover {
  background-color: #9e5858;
}

.menu .line-3 {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.menu .container-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
}

.menu .container-user {
  overflow: hidden;
}

.menu .container-user h3 {
  font-weight: 500;
  margin-bottom: 4px;
  overflow: hidden;
  margin-left: 3vw;
}

.menu .btn-container {
  margin-top: 16px;
  cursor: pointer;
}

.container {
  color: #ffffff;
  width: 84%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.title-line {
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-line h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.statistics-line {
  display: flex;
  height: 88%;
}

.statistics-line .column-1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statistics-line .column-1 .line-1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 58px;
}

.kpi {
  width: 180px;
  height: 170px;
  background-color: var(--third-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.kpi h4 {
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding-top: 16px;
  height: 33%;
  text-shadow: 1px 1px 2px #000000;
}

.kpi span {
  height: 38%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 800;
  text-shadow: 1px 1px 2px #000000;
}

.kpi div {
  height: 30%;
}

/* .column-1 .line-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  width: 37vw;
  height: 42vh;
  background-color: var(--third-color);
  border-radius: 32px;
} */

/* .column-1 .line-2 h4 {
  margin-bottom: 4vh;
  font-weight: 500;
  font-size: 20px;
}

.column-1 .line-2 .chart-container {
  margin-top: 70px;
  width: 450px;
  background-color: var(--third-color);
  border-radius: 12px;

  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
} */

.column-1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-1 .chart-container {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  margin-top: 70px;
  width: 500px;
  /* height: 380px; */
  background-color: var(--third-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.column-1 h4 {
  height: 10%;
  font-weight: 500;
}
.column-2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-2 .chart-container {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  margin-top: 70px;
  width: 570px;
  height: 440px;
  background-color: var(--third-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.column-2 h4 {
  height: 10%;
  font-weight: 500;
}