@font-face {
  font-family: "Gunplay RG";
  src: url("../assets/font/gunplay rg.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --first-color: #ff4654;
  --second-color: #111723;
  --third-color: #793f3f7d;
}

html {
  height: 100%;
}

body {
  display: flex;
  font-family: "Gunplay RG";
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img/fundo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}

a {
  all: unset;
  cursor: pointer;
  user-select: none;
}

.menu {
  color: #ffffff;
  width: 16%;
  background-color: var(--third-color);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
}

.menu .line-1 {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu .line-1 img {
  height: 6vh;
  user-select: none;
  pointer-events: none;
}

.menu .line-2 {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-link {
  all: unset;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  padding: 44px 0;
  letter-spacing: 1px;
  transition: 0.4s;
  cursor: pointer;
  position: relative;
}

.nav-link:hover {
  background-color: #9e5858;
}

.menu .line-3 {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.menu .container-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
}

.menu .container-user {
  overflow: hidden;
}

.menu .container-user h3 {
  font-weight: 500;
  margin-bottom: 4px;
  overflow: hidden;
  margin-left: 3vw;
}

.menu .btn-container {
  margin-top: 16px;
  cursor: pointer;
}

.container {
  color: #ffffff;
  width: 84%;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16vh;
}

.titulo h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.feedback{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--third-color);
  width: 55vw;
  height: 45vh;
  margin-top: 5vw;
  border-radius: 32px;
  margin-left: 11vw;
  }

.texto {
  font-size: 22px;
  font-weight: 500;
}

.estrelas-container {
  display: flex;
  justify-content: center;
  padding: 24px 0;
}

.estrelas-container img {
  margin: 0 8px;
  height: 60px;
  cursor: pointer;
}

#salvarBtn {
  font-family: "Gunplay RG", sans-serif;
  background-color: var(--first-color);
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 32px;
  height: 48px;
  width: 120px;
  padding: 0 32px;
  transition: 0.3s;
  cursor: pointer;
}

.btn {
  font-family: "Gunplay RG", sans-serif;
  background-color: var(--first-color);
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 32px;
  height: 48px;
  width: 220px;
  padding: 0 32px;
  transition: 0.3s;
  cursor: pointer;
}
