@font-face {
  font-family: 'Gunplay RG';
  src: url('../assets/font/gunplay\ rg.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --first-color: #FF4654;
  --second-color: #111723;
  --third-color: #793f3f7d;
}

html,
body {
  font-family: 'Gunplay RG', sans-serif;
  scroll-behavior: smooth;
  color: #ffffff;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/fundo.png");
  background-position: center;
  background-repeat: repeat;
  background-size: 100%;
}

body::-webkit-scrollbar {
  width: 0.5vw;
}

body::-webkit-scrollbar-track {
  background: var(--second-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--first-color);
  border-radius: 2vw;
}

a {
  all: unset;
  /*Para não deixar como se fosse um link*/
  cursor: pointer;
}

a,
li {
  transition: all 0.3s;
}

a,
li:hover {
  transform: scale(1.2);
}

#home {
  height: 100%;
  position: relative;
}

#home .nav {
  width: 100%;
  position: fixed;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

#home .nav.active {
  backdrop-filter: blur(4px);
  box-shadow: 0 2px 8px 0 rgba(48, 48, 48, 0.34);
}

#home .nav .nav-lista {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#home .nav img {
  height: 30%;
  margin-right: 30vw;
  margin-left: 6vw;
  cursor: pointer;
}

#home .nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: -22vw;
}

#home .nav .nav-lista li {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 2px;
  margin: 0 32px;
}

#home .nav .nav-lista .btn-entrar {
  font-size: 14px;
  font-weight: 600;
  padding: 12px 28px;
  color: #ffffff;
  border-radius: 12px;
  border: 2px solid var(--first-color);
  cursor: pointer;
}

#home .nav .nav-lista .btn-entrar:hover {
  background-color: var(--first-color);
}

#home .container {
  height: 97%;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.65)), url("../assets/img/valorant_index.jpg");
  background-repeat: no-repeat;
  display: flex;
}

#home .container .coluna-1 {
  width: 46%;
}

#home .container .coluna-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 54%;
}

#home .container .coluna-2 div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 24px;
  margin-left: -80px;
}

#home .container .coluna-2 div h1 {
  color: var(--first-color);
  font-size: 35px;
  letter-spacing: 2.5px;
}

#home .container .coluna-2 div p {
  font-size: 25px;
  letter-spacing: 1px;
  text-align: left;
  width: 540px;
  margin: 32px 0px;
}

#home .container .coluna-2 div a {
  font-size: 16px;
  font-weight: 600px;
  padding: 18px 40px;
  color: #ffffff;
  background-color: var(--first-color);
  border-radius: 12px;
  margin-left: 16px;
}

#home .container .coluna-2 div a:hover {
  padding: 18px 56px;
}

#sobre {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sobre .coluna-1 {
  width: 40%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

#sobre .coluna-2 {
  width: 40%;
  margin-top: 100px;
  text-align: center;
}

#sobre .coluna-1 h1 {
  letter-spacing: 2px;
  color: var(--first-color);
  font-size: 35px;
  margin-bottom: 30px;
  margin-left: -100px;
}

#sobre .coluna-1 p {
  letter-spacing: 1px;
  font-size: 22px;
  max-width: 600px;
  margin-left: -100px;
}

#sobre .coluna-2 img {
  border-radius: 60px;
  border: 2px solid #ffffff;
  padding: 10px 10px;
  height: 360px;
}

#agentes {
  margin-top: 12vh;
}

#agentes .subTitulo {
  margin-left: 25vw;
}

#agentes h1 {
  letter-spacing: 1px;
  font-size: 35px;
  color: #FF4654;
  margin-bottom: 10vh;
}

#agentes .linha {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 8vh;
}

#agentes .agentes-container {
  width: 20vw;
  height: 50vh;
  border-radius: 32px;
  background-color: var(--third-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

#agentes .agentes-container:hover {
  transform: scale(1.04);
}

#agentes .agentes-container img {
  height: 274px;
  margin-top: -44px;
}

#agentes .icone img {
  width: 15px;
  height: 15px;
  padding-right: 5px;
}

#agentes .agentes-container h2 {
  font-size: 30px;
  letter-spacing: 1px;
  margin-top: 2vh;
  margin-bottom: 1.2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

#agentes .agentes-container h2:before {
  content: "";
  width: 44px;
  height: 6px;
  border-top-left-radius: 32px;
  border-bottom-right-radius: 32px;
  background-color: var(--first-color);
  position: absolute;
  bottom: -12px;
}

#agentes .agentes-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
}

#agentes .inicio #button_down {
  cursor: pointer;
  margin-left: 43.9vw;
  width: 200px;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: -50px;
}

#button_down :hover {
  transform: scale(1.06);
}

#agentes .inicio #button_down img {
  width: 50px;
  height: 50px;
}

#mapas {
  margin-top: 40px;
  padding-top: 40px;
}

#mapas h1 {
  letter-spacing: 1px;
  font-size: 35px;
  color: var(--first-color);
  display: inline-block;
  position: relative;
  margin-bottom: 60px;
}

#mapas .subTitulo {
  margin-left: 25vw;
}

#mapas .linha button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#mapas .linha button:hover {
  transform: scale(1.04);
}

#mapas .linha img {
  width: 60px;
  height: 60px;
}

#mapas .linha .mapas-container .mapas-carousel img {
  width: 600px;
  height: 335px;
  border-radius: 32px;
}

#mapas .linha .mapas-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--third-color);
  border-radius: 32px;
  width: 726px;
  height: 435px;
  margin-left: 26vw;
}

#cenario {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cenario h1 {
  text-align: center;
  letter-spacing: 1px;
  font-size: 35px;
  margin-bottom: 48px;
  color: var(--first-color);
}

#cenario .container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#cenario .coluna-1 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cenario .coluna-2 {
  width: 12px;
  height: 240px;
  background-color: #ffffff;
  margin: 80px 60px;
  transform: rotate(310deg) skew(310deg, 0);
}

#cenario .coluna-3 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cenario .img-container {
  height: 320px;
  width: 548px;
  border-radius: 60px;
  border: 2px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cenario img {
  height: 300px;
  width: 528px;
  border-radius: 50px;
}

#cenario h2 {
  font-size: 1.6rem;
  margin-bottom: 36px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#quiz {
  padding-top: 80px;
}

#quiz .title h1 {
  text-align: center;
  letter-spacing: 1px;
  font-size: 35px;
  margin-bottom: 42px;
  color: var(--first-color);
}

#quiz .quiz {
  display: flex;
  justify-content: center;
  align-items: center;
}

#quiz .quiz .container {
  background-color: var(--third-color);
  width: 70vw;
  height: 40vh;
  padding: 54px 36px;
  border-radius: 80px;
  cursor: pointer;
  transition: 0.4s;
  display: flex;
  gap: 12px;
}

#quiz .quiz .container:hover {
  transform: scale(1.02);
}

#quiz .quiz .coluna-1,
#quiz .quiz .coluna-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quiz .quiz .coluna-1 img {
  width: 400px;
}

#quiz .quiz .coluna-2 p {
  font-size: 20px;
  width: 496px;
}

#quiz .quiz .coluna-2 h2 {
  font-family: 'Gunplay RG';
  color: var(--first-color);
  margin-top: 32px;
  margin-left: -36px;
  text-align: center;
  font-size: 27px;
  letter-spacing: 2px;
  width: 500px;
}

#desenvolvedor {
  padding-top: 80px;
}

#desenvolvedor h1 {
  letter-spacing: 1px;
  font-size: 35px;
  text-align: center;
  color: var(--first-color);
  margin-bottom: -20vh;
}

#desenvolvedor .linha-2 {
  display: flex;
  justify-content: center;
}

#desenvolvedor .linha-2 .coluna-1,
#desenvolvedor .linha-2 .coluna-2 {
  width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#desenvolvedor .linha-2 .coluna-1 img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  /* Garante que a imagem se ajuste bem dentro do círculo */
  margin-top: -16px;
}

#desenvolvedor .linha-2 .coluna-2 .container {
  margin-left: 28px;
  width: 600px;
}

#desenvolvedor .linha-2 .coluna-2 .container h2 {
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-size: 32px;
}

#desenvolvedor .linha-2 .coluna-2 .container p {
  font-size: 24px;
}

#desenvolvedor .linha-3 h2 {
  letter-spacing: 1px;
  font-size: 32px;
  text-align: center;
  color: white;
  margin-bottom: -20vh;
  margin-top: -20vh;
}

#desenvolvedor .linha-4 {
  display: flex;
  justify-content: center;
}

#desenvolvedor .linha-4 .coluna-1,
#desenvolvedor .linha-4 .coluna-2 {
  width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#desenvolvedor .linha-4 .coluna-1 img {
  height: 325px;
  width: 429px;
  margin-top: 46px;
}

#desenvolvedor .linha-4 .coluna-4 .container {
  margin-left: 28px;
  width: 600px;
}

#desenvolvedor .linha-4 .coluna-2 .container h2 {
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-size: 32px;
}

#desenvolvedor .linha-4 .coluna-2 .container p {
  font-size: 24px;
}

#footer {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  height: 270px;
  background-color: var(--second-color);
  position: relative;
}

#footer .coluna-1,
#footer .coluna-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

#footer .coluna-1 img {
  width: 22vw;
}

#footer .coluna-1 h5 {
  font-size: 17px;
  margin-top: 12px;
  letter-spacing: 1px;
  font-weight: 500;
}

#footer .coluna-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-right: 32px;
}

#footer .coluna-2 div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 20px;
}

#footer .coluna-2 div a {
  font-size: 18px;
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
  transition: 0.4s;
}

#footer .coluna-2 div a:hover {
  transform: scale(1.1);
}

#footer .coluna-3 .redes {
  display: flex;
  justify-content: flex-start;
  gap: 3vw;
}

#footer .coluna-3 .redes a {
  transition: 0.4s;
}

#footer .coluna-3 .redes a:hover {
  transform: scale(1.1);
}

#footer .coluna-3 .redes img {
  height: 40px;
}

#footer .coluna-3 .contato {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#footer .coluna-3 .contato div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

#footer .coluna-3 .contato img {
  margin-right: 8px;
}

#footer .coluna-3 .contato .email,
#footer .coluna-3 .contato .telefone {
  height: 20px;
}

#footer .coluna-3 .contato .endereco {
  height: 20px;
}

#footer .coluna-3 .contato h5 {
  font-size: 0.9rem;
  font-weight: 500;
}