@font-face {
    font-family: 'Gunplay RG';
    src: url('../assets/font/gunplay\ rg.otf') format('opentype');
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --first-color: #FF4654;
    --second-color: #111723;
  }

button{
    cursor: pointer;
}

body{
    font-family: 'Gunplay RG';
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/fundo.png");
    color: white;
    background-size: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #793f3f7d;
    width: 90%;
    max-width: 800px;
    border-radius: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.question{
    font-size: 24px;
    text-align: center;
}

.answers_container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.next_question{
    margin-top: 32px;
}

.button{
    font-family: 'Gunplay RG', sans-serif;
    background-color: var(--first-color);
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 32px;
    height: 48px;
    padding: 0 32px;
    transition: 0.3s;
}

.button:not(:disabled):hover{
    background-color: #ff465691;
}

.answer:disabled{
    cursor: not-allowed;
}

.hide{
    display: none;
}

.correct{
    background-color: green;
}

.incorrect{
background-color: red;
}

.final-message{
    font-size: 20px;
    text-align: center;
}

.final-message span{
    display: block;
    margin-top: 8px;
}
























